button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}

#change-view {
  background-color: hsl(207, 93%, 56%);
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#change-view:hover {
  background-color: hsl(214, 100%, 74%);
  cursor: pointer;
}

#change-view:active {
  background-color: hsl(214, 46%, 47%);
}

#change-view:disabled {
  background-color: rgb(128, 128, 128, 0.5);
  pointer-events: none;
}